@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

/* Mandatory: Prevents flickering on page load */
[x-cloak] {
    display: none !important;
}

/* Transition height */
.transition-[height] {
    transition-property: height;
}


.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* Custom GLightbox style */
.glightbox-container .gslide-description {
    display: none !important;
}
