@import "tailwindcss";

/* Mandatory: Prevents flickering on page load */
[x-cloak] {
    display: none !important;
}


/* Custom GLightbox style */
.glightbox-container .gslide-description {
    display: none !important;
}